body{
    background-image: url('/images/red-shopping-bag-table.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: contain;
    font-size: 16px;
}

  .container{
    width: 50%;
    margin-top: 5rem;
  }

  .card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }
  
.centered{
  text-align: center;
  justify-content: center;
  margin-top: 5rem;
}

  .card__header,
  .card__content {
    padding: 1rem;
  }
  
  .card__header h1,
  .card__content h1,
  .card__content h2,
  .card__content p {
    text-align: center;
  }
  
  
  
  .card__image img {
    width: 20%;
    display:block;
    margin-right: auto;
    margin-left: auto;
  }
  
  .card__actions {
      padding: 1rem;
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
  }
  
  .card__actions button,
  .card__actions a {
      margin: 0 0.25rem;
      outline: none;
  }
  
  .btn {
    font: inherit;
    border: 1px solid #00695c;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
    color: #00695c;
    background: #ffffff33;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .btn:hover,
  .btn:active, .btn:focus {
    background-color: #00695c;
    color: white;
    opacity: 0.7;
    border: none;
    outline: none !important;
  }

  .navbar-inverse {
    background-color:#120321;
    border-color: #080808;
}
  .navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
}

.navbar {
  position: relative;
  min-height: 70px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.container-fluid {
   margin-top: 10px;
}
  
  @media(max-width:900px)
{
  body{
    background-image: url('/images/shop2.jpg');
  }
    .container{
        width: auto;
    }
}

@media (max-width: 825px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}